html, body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#colorPreview {
    width: 120px;
    height: 120px;
    background-color: black;
    text-align: center;
    position: relative;
    outline: black solid 1px;
}


#colorOutput {
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
    bottom: 0px;
    left: 0px;
    display: inline-block;
    width: 100%;
}
